body{
    background-color:beige;
}
h1{
    color:darkslategrey;
    font-style:inherit;
}
p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    text-align:justify;
}
.image{
    padding: 2px;
    margin-top: 5px;
    display:inline-flexbox;
}