body {
    background-color: antiquewhite;

}
section {
    display: flex;
    flex-direction: row, row-reverse, column, column-reverse;
    justify-content:space-between;
    align-content: center;
    background-color:azure;
}

* {
    text-decoration: none;
}
